<div class="container" style="margin-top:50px">
  <div class="row">
    <div class="alert alert-success" *ngIf="loading===true">
      Het overzicht van de hengst wordt opgehaald.
    </div>
    <div class="alert alert-danger" *ngIf="errorMsg">
      Er is een probleem opgetreden bij het ophalen van de gegevens:<br/>
      {{errorMsg}}
    </div>

    <span *ngIf="loading===false">
    <div class="col-md-8 col-md-push-4">
      <div class="stich-box">
        <h1 class="text-center">{{stallion.name}}</h1>
      </div>

      <figure class="large-image"><img src="{{stallion.images.large}}"
                                       class="img-responsive img-rounded center-block"
                                       alt="{{stallion.name}}" title="{{stallion.name}}"/>
      </figure>

      <div class="well" id="description">
        <img src="{{stallion.images.small}}" alt="{{stallion.name}}" width="89" height="85"
             align="left" class="img-circle">
        <span [innerHTML]="stallion.description"></span>
        <small *ngIf="stallion.copyright" class="text-muted credit pull-right"><i
          class="glyphicon glyphicon-copyright-mark"></i> Tekst en fotografie {{stallion.copyright}} </small>
      </div>

      <div class="well">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <h4>Detailsgegevens</h4>
            <dl class="dl-horizontal details">
              <span *ngIf="stallion.height"><dt>Hoogte: </dt> <dd>{{stallion.height}}</dd></span>
              <span *ngIf="stallion.color"><dt>Kleur: </dt> <dd>{{stallion.color}}</dd></span>
              <span *ngIf="stallion.birth"><dt>Geboren: </dt> <dd>{{stallion.birth}}</dd></span>
              <span *ngIf="stallion.breed_by"><dt>Fokker: </dt> <dd>{{stallion.breed_by}}</dd></span>
              <span *ngIf="stallion.stud_fees"><dt>Dekgeld: </dt> <dd>{{stallion.stud_fees}}</dd></span>
            </dl>
            <strong>{{stallion.name}}</strong> mag dekken voor de volgende stamboeken:
            <span *ngFor="let studbook of stallion.studbooks"><a [routerLink]="['/stamboeken', studbook.alias]">{{studbook.name}} </a></span>
          </div>
          <div class="col-md-4 hidden-sm advertisement">
            <p class="fancy"><span>Advertentie</span></p>
            <div class="adsense center-block">
              <ng-adsense></ng-adsense>
             </div>
          </div>
        </div>
      </div>

      <div class="well">
        <h4>Eigenaar</h4>
        <dl *ngIf="stallion.owner" class="dl-horizontal owner">
          <span *ngIf="stallion.owner.stable"><dt>Stalnaam: </dt> <dd>{{stallion.owner.stable}}</dd></span>
          <dt>Eigenaar: </dt> <dd>{{stallion.owner.name}}</dd>
          <dt>Adres: </dt> <dd>{{stallion.owner.address}}</dd>
          <dt>PC + Plaats: </dt> <dd>{{stallion.owner.pc}} {{stallion.owner.city}}</dd>
          <span *ngIf="stallion.owner.email"><dt>E-mail: </dt> <dd><a
            href="mailto:{{stallion.owner.email}}">{{stallion.owner.email}}</a></dd></span>
          <span *ngIf="stallion.owner.website"><dt>Website: </dt> <dd><a
            href="http://{{stallion.owner.website}}?utm_source=tophengsten&utm_medium=cpc" rel="external"
            target="_blank">{{stallion.owner.website}}</a> <i
            class="glyphicon glyphicon-new-window" title="Gaat naar een externe website"></i></dd></span>
          <span *ngIf="stallion.owner.facebook"><dt>Facebook: </dt> <dd><a href="{{stallion.owner.facebook}}"
                                                                           rel="external"
                                                                           target="_blank">Facebook pagina</a> <i
            class="glyphicon glyphicon-new-window" title="Gaat naar een externe website"></i></dd></span>
        </dl>

        <div *ngIf="stallion.owner && stallion.owner.stallions.length > 1">
          Meer hengsten van deze eigenaar:<br/>
          <ng-template ngFor let-otherStallion [ngForOf]="stallion.owner.stallions">
            <a *ngIf="otherStallion.alias !== stallion.$key" [routerLink]="['/hengsten', otherStallion.alias]">{{otherStallion.name}} </a>
          </ng-template>
        </div>
      </div>

      <!--<div class="well">-->
      <!--Stamboekgegevens-->
      <!--</div>-->

      <div class="well" *ngIf="stallion">
        <h4><strong>{{stallion.name}}</strong> staat ter dekking {{stallion.location.description}} </h4>
        <div style="height: 300px;"
             leaflet
             [leafletOptions]="options"
             [leafletPanOptions]="panOptions"
             [leafletZoomOptions]="zoomOptions"
             [leafletZoomPanOptions]="zoomPanOptions"
             [leafletFitBoundsOptions]="fitBoundsOptions"
             [leafletZoom]="10"
             [leafletCenter]="center"
             [leafletLayers]="markers">
        </div>
      </div>

    </div>
    <div class="col-md-4 col-md-pull-8">
      <div class="row">
        <div *ngFor="let midi of midiImages" class="midi-image col-md-12 col-xs-5 col-sm-3">
          <figure class="img-thumbnail">
            <img src="{{midi.value.url}}" alt="{{stallion.name}} {{midi.value.name}}" class="img-responsive"/>
          </figure>
        </div>
        <div class="col-md-12 col-xs-5 col-sm-3 advertisement">
          <p class="fancy"><span>Advertentie</span></p>
          <figure class="img-thumbnail" style="max-width: 300px">
            <a href="https://www.scrapwebshop.nl?utm_source=tophengsten&utm_medium=cpc" target="_blank" rel="external">
              <img src="./assets/scrapwebshop.jpg" alt="Advertentie voor Scrapwebshop.nl" class="img-responsive"/>
              <figcaption>www.scrapwebshop.nl - Mixed-media en kaarten maken <i class="glyphicon glyphicon-new-window"
                                                                                title="Gaat naar een externe website"></i></figcaption>
            </a>
          </figure>
        </div>
      </div>
    </div>
  </span>
  </div>
</div>
