<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a routerLink="/" class="navbar-brand">Tophengsten.nl</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a
              routerLink="/" title="Ga naar de beginpagina"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li role="presentation" routerLinkActive="active"><a routerLink="/hengsten"
                                                                 title="Ga naar het hengstenoverzicht"><span
              class="glyphicon glyphicon-knight"></span> Hengsten</a></li>
            <li role="presentation" routerLinkActive="active"><a routerLink="/stamboeken"
                                                                 title="Ga naar het overzicht van de deelnemende stamboeken"><span
              class="glyphicon glyphicon-book"></span> Stamboeken</a></li>
            <li role="presentation" routerLinkActive="active"><a routerLink="/eigenaren"
                                                                 title="Ga naar het overzicht van de eigenaren."><span
              class="glyphicon glyphicon-user"></span> Eigenaren</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li role="presentation" routerLinkActive="active"><a routerLink="/toevoegen">Voeg uw hengst toe</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="row">
    <router-outlet></router-outlet>
  </div>

  <div class="row">
    <footer class="footer text-center">
      <hr>
      <div class="text-muted center-block">Copyright &copy; 2008 - {{copyrightDate | date:"y"}} - Bontepaarden.nl<br/>
        Alle foto's en teksten zijn aangeleverd door de respectievelijke eigenaren, vallen onder het auteursrecht en
        mogen zonder toestemming niet gebruikt worden.
      </div>
    </footer>
  </div>
</div>

