@import "../../../colors.scss";

#largeRotationImage {
  background-color: $light-bg;
  border: 1px solid $border-color; //#6baed6;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
}
#largeRotationImage > img {
  margin-bottom: 5px;
}
