@import "colors.scss";


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

html, body {
  height: 100%;
}

.footer {
  bottom: 0;
  width: 90%;
  margin: 0 auto;
  padding-top: 1em;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(31, 92, 153, 0), rgba(31, 92, 153, 0.75), rgba(31, 92, 153, 0));
}

.showPointer {
  cursor: pointer;
}

/* CSS GRADIENT ANIMATOR
-------------------------------------------------- */
body {
  background: #2b8cbe linear-gradient(270deg, #bdc9e1, #74a9cf, #2b8cbe);
}

/* Bootstrap overrides
-------------------------------------------------- */
.navbar-default {
  background-color: $light-bg;
  border-color: $nav-border;
}

.jumbotron {
  background-color: $jumbotron-bg; // #c6dbef;
  border-color: $border-color; //#6baed6;
}

.img-responsive.pull-right {
  margin-left: 10px;
  margin-bottom: 1em;
}

.list-inline-item {
  padding-left: 0;
  padding-right: 0;
  max-width: 248px;
}

.list-inline-item > .thumbnail {
  background-color: $jumbotron-bg; // #c6dbef;
  border-color: $border-color; //#6baed6;
}

