@import "colors.scss";


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

html, body {
  height: 100%;
}

.footer {
  bottom: 0;
  width: 90%;
  margin: 0 auto;
  padding-top: 1em;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(31, 92, 153, 0), rgba(31, 92, 153, 0.75), rgba(31, 92, 153, 0));
}

.showPointer {
  cursor: pointer;
}

/* CSS GRADIENT ANIMATOR
-------------------------------------------------- */
body {
  background: #2b8cbe linear-gradient(270deg, #bdc9e1, #74a9cf, #2b8cbe);
}

/* Bootstrap overrides
-------------------------------------------------- */
.navbar-default {
  background-color: $light-bg;
  border-color: $nav-border;
}

.jumbotron {
  background-color: $jumbotron-bg; // #c6dbef;
  border-color: $border-color; //#6baed6;
}

.img-responsive.pull-right {
  margin-left: 10px;
  margin-bottom: 1em;
}

.list-inline-item {
  padding-left: 0;
  padding-right: 0;
  max-width: 248px;
}

.list-inline-item > .thumbnail {
  background-color: $jumbotron-bg; // #c6dbef;
  border-color: $border-color; //#6baed6;
}

h1.maximize {
  font-size: calc(100% + 1vw);
}


.stich-box {
  /*stitching*/
  outline: 1px dashed $blue5;
  outline-offset: -5px;

  background-color: $blue4; // #556068;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  /*shadow*/
  -webkit-box-shadow: 2px 2px 2px #000;
  -moz-box-shadow: 2px 2px 2px #000;
  box-shadow: 2px 2px 2px #000;
}

.stich-box > h1 {
  font-size: 100px;
  font-size: 2.5vw; // Max font size
  font-size: calc(100% + 2vw); // Min font size
  font-family: 'Eagle Lake', cursive;
  font-weight: bold;
  margin-bottom: 0.5em;

  text-shadow: rgba(0, 0, 0, 0.3) 3px 3px 3px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.9);
  color: $blue1;
}

.well {
  margin-top: 1em;
  background-color: $blue1;
}

@media (min-width: 768px) {
  .dl-horizontal.details dt {
    width: 65px;
  }
  .dl-horizontal.details dd {
    margin-left: 75px;
  }
  .dl-horizontal.owner dt {
    width: 90px;
  }
  .dl-horizontal.owner dd {
    margin-left: 100px;
  }
}

figure {
  margin: 0 auto;
}

.midi-image {
  margin: 1em;
  display: inline-block;
  vertical-align: top;
}

.midi-image > figure {
  overflow: hidden;
}

.midi-image:first-child {
  margin-top: 1em;
}

.midi-image:first-child figure img {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.midi-image:first-child figure:hover img {
  -webkit-transform: rotate(15deg) scale(1.4);
  transform: rotate(15deg) scale(1.4);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.midi-image:nth-child(2) figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.midi-image:nth-child(2) figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.midi-image:nth-child(3) figure:hover img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.midi-image:nth-child(3) figure img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.midi-image:nth-child(4) figure:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

figure.large-image img:hover {
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

figure.large-image img {
  -webkit-filter: sepia(0);
  filter: sepia(0);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.75);
}

.img-circle {
  margin-right: 1em;
  margin-bottom: 1em;
}

.advertisement {
  max-width: 300px;
}
.fancy {
  overflow: hidden;
  text-align: center;
  margin-bottom: 0;
}
.fancy span {
  position: relative;
}
.fancy span:before,
.fancy span:after {
  $linesHeight: 7px;
  content: "";
  position: absolute;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  width: 300px;
  height: $linesHeight;
  top: 50%;
  margin-top: floor(-$linesHeight / 2);
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
